@font-face {
  font-family: "PunkTypewriter";
  src: local("PunkTypewriter"), url(./fonts/punk_typewriter/PunkTypewriter.otf);
}

#root {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  text-align: center;
}

#main-bg {
  height: 100%;
  transition: filter 0.1s linear;
}

#main-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000 url('./assets/image6.png') no-repeat center / cover;
}

#menu {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 2em;
}

a, a:link, a:visited, a:hover, a:active {
  margin-top: 2em;
  color: #22b455;
  text-decoration: none;
  transition: all 0.24s ease-in-out;
}

a:hover {
  color: #b42222;
}

::selection {
  background-color: #b42222;
  color: #000;
}

@media only screen and (max-width: 768px) {
  #main-bg::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #menu {
    padding: .8em;
  }
}