.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100% - 10em);
  height: calc(100% - 10em);
  margin: 5em;
  background-color: #000;
}

.modal-body button {
  padding: 10px 15px;
  position: absolute;
  bottom: 1em;
  right: 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.player-wrapper {
  position: relative;
  width: 70%;
  height: 70%;
  overflow: hidden;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-info {
  margin: 0 0 0;
  font-size: 4em;
  color: #22b455;
  font-family: 'PunkTypewriter', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px) {
  .modal-body {
    width: calc(100% - 2.4em);
    height: calc(100dvh - 2.4em);
    margin: 1.2em;
  }

  .player-wrapper {
    width: 95%;
    height: 40%;
  }

  .modal-info {
    font-size: 2.8em;
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  .modal-body {
    width: calc(100% - .8em);
    height: calc(100dvh - .8em);
    margin: .4em;
  }

  .player-wrapper {
    width: 95%;
    height: 60%;
  }

  .modal-info {
    font-size: 3em;
  }
}